@model Product

<form method="post" asp-action="Upsert">
    <div class="border p-3 mt-4 row">
        <div class="row pb-2">
            <h2 class="text-primary">Ürün Güncelle</h2>
            <hr />
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" rows="3" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ISBN"></label>
        <input asp-for="ISBN" class="form-control" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ImageUrl"></label>
        <input type="file" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" asp-items="ViewBag.Kategoriler" class="form-select">
            <option disabled selected>-Lütfen Kategori Seçiniz-</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-warning" style="width:150px">
        Güncelle
    </button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
        Listeye Geri Dön
    </a>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
